.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 30px 20px;

  a {
    text-decoration: none;
    color: #ccc;
    transition: 0.1s;

    &.active,
    &:hover {
      color: #666;
    }
  }
}
